<section class="container mx-auto flex flex-col gap-8 px-4 md:h-72 md:flex-row lg:px-8 xl:h-96">
  <div class="md:w-1/2 lg:w-2/5">
    <div>
      <h3 class="mb-4 text-base text-black/60">Services</h3>
      <h2 class="text-5xl font-semibold">精选服务</h2>
    </div>
    <div>
      <p></p>
    </div>
  </div>
</section>
