---
const { title, link } = Astro.props;
---

<li class="relative">
  <a
    class="after:transition-all after:duration-300 after:block after:absolute after:w-0 after:h-0.5 after:bg-black hover:after:w-full"
    href={link}
  >
    {title}
  </a>
</li>
